img.img, i.img {
  width: 38px !important;
  height: 38px !important;
  margin-right: 5px !important;
}

td.ct-name {
	width: 180px !important;

}

button[class*='dropDown-'] {
	margin-top: 5px !important;
	margin-right: 3px !important;
	
 }


td.updatecolumn {
	width: 90px !important;
	padding: 4px 4px 4px 0px !important;
	text-align: center !important;
}

i.fa-globe {
	font-size: 18px !important;
	color: #8c8c8c  !important;
}

i.fa-bars {
	font-size: 18px !important;
	color: #8c8c8c  !important;
	padding-right: 3px !important;
	
}

i.red-text {
    font-size: 16px !important;
}

span.state {
  font-size: 10px !important;

}


td.ct-name span.state {
	font-size: 1.1rem !important;
	margin-left: 7px !important;

}


.folder-preview-wrapper {
  margin-top: 5px !important;
}


div.folder-preview-4 i.fa-globe {
	  font-size: 10px !important;
}

div.folder-preview-4 i.fa-bars {
	  font-size: 10px !important;
}

div.folder-preview-4 a.exec {
	  color: #797979 !important;
}



.appname .orange-text, .warning a.exec{
  font-weight: bold !important;
}



